[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.6.3"

[packages]
zsh-kernel = {editable = true,path = "."}
jupyter = "*"
notebook = "==5.7.8"
ipykernel = "==5.1.1"
ipython = "==7.5.0"
jupyter-client = "==5.2.4"
pyqt5 = "==5.12.3"

[requires]
python_version = "3.7"
